<a href="https://colab.research.google.com/github/bmt1512/bmt-pythone/blob/main/21512_11%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
dates = pd.date_range('20210514', periods=6)
dates

DatetimeIndex(['2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
               '2021-05-18', '2021-05-19'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-14 -1.072080 -1.642630 -0.175523  0.279290
2021-05-15 -0.334436 -2.147194  0.457588  0.795997
2021-05-16  1.397841  0.558996  1.262863 -0.370039
2021-05-17 -0.910501  1.434618 -0.564339  0.779548
2021-05-18  0.325151  1.099497  1.127559  0.370103
2021-05-19 -1.036153 -0.977870 -1.940201  0.269751

In [11]:
df.mean()

A   -0.271696
B   -0.279097
C    0.027991
D    0.354108
dtype: float64

In [12]:
df.mean(0)

A   -0.271696
B   -0.279097
C    0.027991
D    0.354108
dtype: float64

In [13]:
df.mean(1)

2021-05-14   -0.652736
2021-05-15   -0.307011
2021-05-16    0.712415
2021-05-17    0.184831
2021-05-18    0.730578
2021-05-19   -0.921118
Freq: D, dtype: float64

In [14]:
df

                   A         B         C         D
2021-05-14 -1.072080 -1.642630 -0.175523  0.279290
2021-05-15 -0.334436 -2.147194  0.457588  0.795997
2021-05-16  1.397841  0.558996  1.262863 -0.370039
2021-05-17 -0.910501  1.434618 -0.564339  0.779548
2021-05-18  0.325151  1.099497  1.127559  0.370103
2021-05-19 -1.036153 -0.977870 -1.940201  0.269751

In [17]:
df.apply(np.cumsum, axis=0)

                   A         B         C         D
2021-05-14 -1.072080 -1.642630 -0.175523  0.279290
2021-05-15 -1.406515 -3.789824  0.282065  1.075286
2021-05-16 -0.008675 -3.230829  1.544928  0.705248
2021-05-17 -0.919176 -1.796210  0.980589  1.484796
2021-05-18 -0.594025 -0.696713  2.108148  1.854899
2021-05-19 -1.630178 -1.674583  0.167947  2.124650

In [18]:
df.apply(lambda x: x.max() - x.min())

A    2.469920
B    3.581812
C    3.203064
D    1.166036
dtype: float64

In [21]:
df.apply(lambda x: x.max() - x.min(), axis=0)

A    2.469920
B    3.581812
C    3.203064
D    1.166036
dtype: float64

In [22]:
df.apply(lambda x: x.max() - x.min(), axis=1)

2021-05-14    1.921920
2021-05-15    2.943191
2021-05-16    1.767879
2021-05-17    2.345120
2021-05-18    0.802408
2021-05-19    2.209951
Freq: D, dtype: float64

In [25]:
s = pd.Series(np.random.randint(0, 7, size = 10))
s

0    2
1    0
2    4
3    2
4    6
5    1
6    2
7    0
8    5
9    4
dtype: int64

In [29]:
s = pd.Series(np.random.randint(1, 7, size = 600))
s.value_counts()

5    108
3    105
4    102
2    101
6     93
1     91
dtype: int64

In [31]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.216363 -0.929617  0.154938 -0.261797
1  0.444126  0.482407  0.688596  1.227195
2  0.770040 -0.764914  0.521226 -0.735127
3  0.858957  0.758712 -0.595806  1.116024
4 -1.272192  0.794451 -2.385033 -0.496665
5 -1.322767 -0.972902 -1.018654 -0.946928
6  2.183281  0.202453  1.003222  0.268764
7  0.671710  1.220303  1.417204  0.106548
8 -2.083793 -0.012080  1.329211  1.118217
9  0.759536  0.967887 -0.287553 -1.563481

In [32]:
df[:3]

          0         1         2         3
0 -0.216363 -0.929617  0.154938 -0.261797
1  0.444126  0.482407  0.688596  1.227195
2  0.770040 -0.764914  0.521226 -0.735127

In [33]:
df[3:7]

          0         1         2         3
3  0.858957  0.758712 -0.595806  1.116024
4 -1.272192  0.794451 -2.385033 -0.496665
5 -1.322767 -0.972902 -1.018654 -0.946928
6  2.183281  0.202453  1.003222  0.268764

In [34]:
df[7:]

          0         1         2         3
7  0.671710  1.220303  1.417204  0.106548
8 -2.083793 -0.012080  1.329211  1.118217
9  0.759536  0.967887 -0.287553 -1.563481

In [35]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.216363 -0.929617  0.154938 -0.261797
 1  0.444126  0.482407  0.688596  1.227195
 2  0.770040 -0.764914  0.521226 -0.735127,
           0         1         2         3
 3  0.858957  0.758712 -0.595806  1.116024
 4 -1.272192  0.794451 -2.385033 -0.496665
 5 -1.322767 -0.972902 -1.018654 -0.946928
 6  2.183281  0.202453  1.003222  0.268764,
           0         1         2         3
 7  0.671710  1.220303  1.417204  0.106548
 8 -2.083793 -0.012080  1.329211  1.118217
 9  0.759536  0.967887 -0.287553 -1.563481]

In [36]:
pd.concat(pieces)

          0         1         2         3
0 -0.216363 -0.929617  0.154938 -0.261797
1  0.444126  0.482407  0.688596  1.227195
2  0.770040 -0.764914  0.521226 -0.735127
3  0.858957  0.758712 -0.595806  1.116024
4 -1.272192  0.794451 -2.385033 -0.496665
5 -1.322767 -0.972902 -1.018654 -0.946928
6  2.183281  0.202453  1.003222  0.268764
7  0.671710  1.220303  1.417204  0.106548
8 -2.083793 -0.012080  1.329211  1.118217
9  0.759536  0.967887 -0.287553 -1.563481

In [39]:
left = pd.DataFrame(
    {
        'key':['foo', 'foo'], 
        'lval': [1, 2]
     }
    )
right = pd.DataFrame({'key':['foo', 'foo'], 'rval': [4, 5]})
left

   key  lval
0  foo     1
1  foo     2

In [40]:
right

   key  rval
0  foo     4
1  foo     5

In [41]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [44]:
s = df.iloc[3]
s

0    0.858957
1    0.758712
2   -0.595806
3    1.116024
Name: 3, dtype: float64

In [45]:
df.append(s, ignore_index=True)

           0         1         2         3
0  -0.216363 -0.929617  0.154938 -0.261797
1   0.444126  0.482407  0.688596  1.227195
2   0.770040 -0.764914  0.521226 -0.735127
3   0.858957  0.758712 -0.595806  1.116024
4  -1.272192  0.794451 -2.385033 -0.496665
5  -1.322767 -0.972902 -1.018654 -0.946928
6   2.183281  0.202453  1.003222  0.268764
7   0.671710  1.220303  1.417204  0.106548
8  -2.083793 -0.012080  1.329211  1.118217
9   0.759536  0.967887 -0.287553 -1.563481
10  0.858957  0.758712 -0.595806  1.116024