<a href="https://colab.research.google.com/github/bmt1512/bmt-pythone/blob/main/21512_10%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
dates = pd.date_range('20210507', periods=6)
dates

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4))
df

          0         1         2         3
0  1.298791  0.757322  0.606851 -0.908779
1  0.046350 -1.110531  0.117871  0.017851
2  0.124139  0.416123  0.460180 -0.622356
3  0.758371 -0.027105  0.190534  0.736342
4  0.831358  0.339904  0.799194  0.857377
5 -1.038801  0.641172  1.967664 -1.753954

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates)
df

                   0         1         2         3
2021-05-07  1.124884  1.037019 -0.410610  0.926495
2021-05-08 -0.356332 -1.258256  1.346644  1.833438
2021-05-09 -0.358473  1.000664  0.636836 -0.115254
2021-05-10 -0.437754 -0.286515 -1.306956  0.926756
2021-05-11  0.980450 -0.257207 -1.677245  0.786164
2021-05-12  1.649286 -0.685929 -0.702855  0.250844

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-05-07 -2.066571 -1.232890 -0.502550  0.432754
2021-05-08 -0.444089 -0.160937  0.531621  0.682530
2021-05-09 -0.509203  0.444349 -0.049450  0.113498
2021-05-10  0.391467  0.218546 -1.321702  0.136796
2021-05-11  1.293746 -0.328296 -1.105335  1.196731
2021-05-12 -0.310119  0.292830  1.270933 -0.094834

In [ ]:
df2 = pd.DataFrame(
    {
        'A' : 1.,
        'B': pd.Timestamp('20211215'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E':pd.Categorical(["test", "train", "test", "train"]),
        'F': 'foo'
    }
)
df2

     A          B    C  D      E    F
0  1.0 2021-12-15  1.0  3   test  foo
1  1.0 2021-12-15  1.0  3  train  foo
2  1.0 2021-12-15  1.0  3   test  foo
3  1.0 2021-12-15  1.0  3  train  foo

In [ ]:
df.head()

                   A         B         C         D
2021-05-07 -2.066571 -1.232890 -0.502550  0.432754
2021-05-08 -0.444089 -0.160937  0.531621  0.682530
2021-05-09 -0.509203  0.444349 -0.049450  0.113498
2021-05-10  0.391467  0.218546 -1.321702  0.136796
2021-05-11  1.293746 -0.328296 -1.105335  1.196731

In [ ]:
df.tail()

                   A         B         C         D
2021-05-08 -0.444089 -0.160937  0.531621  0.682530
2021-05-09 -0.509203  0.444349 -0.049450  0.113498
2021-05-10  0.391467  0.218546 -1.321702  0.136796
2021-05-11  1.293746 -0.328296 -1.105335  1.196731
2021-05-12 -0.310119  0.292830  1.270933 -0.094834

In [ ]:
df.index

DatetimeIndex(['2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.values

array([[-2.06657135, -1.23288952, -0.50254956,  0.43275365],
       [-0.44408896, -0.16093693,  0.53162084,  0.6825301 ],
       [-0.50920317,  0.44434913, -0.04944991,  0.11349767],
       [ 0.39146716,  0.21854648, -1.32170227,  0.13679556],
       [ 1.29374633, -0.32829613, -1.10533476,  1.19673095],
       [-0.31011896,  0.29283049,  1.27093274, -0.0948335 ]])

In [ ]:
df.describe

<bound method NDFrame.describe of                    A         B         C         D
2021-05-07 -2.066571 -1.232890 -0.502550  0.432754
2021-05-08 -0.444089 -0.160937  0.531621  0.682530
2021-05-09 -0.509203  0.444349 -0.049450  0.113498
2021-05-10  0.391467  0.218546 -1.321702  0.136796
2021-05-11  1.293746 -0.328296 -1.105335  1.196731
2021-05-12 -0.310119  0.292830  1.270933 -0.094834>

In [ ]:
df

                   A         B         C         D
2021-05-07 -2.066571 -1.232890 -0.502550  0.432754
2021-05-08 -0.444089 -0.160937  0.531621  0.682530
2021-05-09 -0.509203  0.444349 -0.049450  0.113498
2021-05-10  0.391467  0.218546 -1.321702  0.136796
2021-05-11  1.293746 -0.328296 -1.105335  1.196731
2021-05-12 -0.310119  0.292830  1.270933 -0.094834

In [ ]:
df.T

   2021-05-07  2021-05-08  2021-05-09  2021-05-10  2021-05-11  2021-05-12
A   -2.066571   -0.444089   -0.509203    0.391467    1.293746   -0.310119
B   -1.232890   -0.160937    0.444349    0.218546   -0.328296    0.292830
C   -0.502550    0.531621   -0.049450   -1.321702   -1.105335    1.270933
D    0.432754    0.682530    0.113498    0.136796    1.196731   -0.094834