<a href="https://colab.research.google.com/github/bmt1512/bmt-pythone/blob/main/21512_7%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = int(input('값 입력:'))

값 입력:4

In [ ]:
if x %2 == 0:
 print(f' {x} : even')
 print('babo')
print('hello')

 4 : even
babo
hello

In [ ]:
while true :
x = int(input('값 입력:'))
if x %2 == 0:
 print(f' {x} : 짝수')
 print('babo')
print('hello')

 4 : even
babo
hello

In [ ]:
# 홀수 짝수 구분 - 2

x = int(input('값 입력 : '))

if x % 2 == 0:
  print(f'{x}(은/는) 짝수')
else :
  print(f'{x}(은/는) 홀수')

값 입력 : 5
5(은/는) 홀수

In [ ]:


x = float(input('성적입력 : '))

if x >= 70:
  print(f'{x} : Pass')
elif x >= 60:
  print(f'{x} : 재시험')
else:
  print(f'{x} : fail')

성적입력 : 100
100.0 : Pass

In [ ]:
str = '안녕하세요.'

in '안녕하세요'

True

In [ ]:
1 in [1,2,3]

In [ ]:
str='안녕하세요'
fot i in str:
 print(i)

In [ ]:
lst=list(range(10))
for i in lst:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:


d = {'a':1, 'b':2}

print(d)

{'a': 1, 'b': 2}

In [ ]:
for item in d.keys():
  print(item)

NameError: ignored

In [ ]:
for key, value in d.items():
  print(key, value)

NameError: ignored

In [ ]:
value

In [ ]:
xlist = range(10)

In [ ]:
list(xlist)

In [ ]:
for item in xlist:
  for item in xlist:
  print(item, end=' ')

In [ ]:
xlist = ['1', '2']
xlist = [int(item) for item in xlist]
print(xlist)

[1, 2]

In [ ]:
i = 1

while i <= 5 :
  print(i)
  i = i + 1

1
2
3
4
5

In [ ]:
i = 0

while i <= 5 :
  i = i + 1
  if i == 2 : continue
  
  print(i)

  if i == 4 : break